/*
 *
 * by ZeZeN
 * benavern.github.io
 * 
 */


/*
 *
 * Reset 
 * 
 */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*
 *
 * General 
 * 
 */

body{
	padding: 15px;
	background: #fafafa;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color:#888;
}

body > div{
	width: 400px;
	margin-top:20px;
}

textarea {
	padding:15px;
	border-radius: 6px;
	border:2px #ccc solid;
	background: #f2f2f2;
	outline:none;
	height: 100%;
}

small{
	display:block;
	text-align:right;
}
small, small a, small a:visited{
	color:#ccc;
	text-decoration: none;
}
small a{
	font-weight: bold;
}
small a:hover{
	color:#aaa;
}



/*
 *
 * Source 
 * 
 */

.source-container {
	height: 100px;
}

.source-container textarea{
	width: 100%;
}




/*
 *
 * Result 
 * 
 */


.result-container {
	display:flex;
}

.result-container .res{
	flex:1;
	padding:0px 5px;
}

.result-container .res-lower{
	padding-left:0;
}
.result-container .res-upper{
	padding-right:0;
}

.result-container .res textarea{
	width:100%;
	height:100%;
}